* {
  box-sizing: border-box;
}
body {
  margin: 20px;
  background-image: url(images/topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 100%;
  background-attachment: fixed;
  
}
/*
.grid-container {
  display: grid;
  grid-template-columns: 60px auto 60px auto;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  justify-content: space-evenly;
  align-content: center;
  grid-gap: 10px;
  background-color: rgba(47, 255, 238, 0.377);
  padding: 10px;
  height: 400px;
}

.grid-container > div {
  background-color: rgb(13, 207, 181);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-iteam1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

 .grid-iteam1 {
  grid-row: 1/ span 3;
}

.grid-iteam4 {
  grid-area: 1/2/4/5;
}

.container {
  height: 100vh;
  display: grid;
  grid-gap: 10px;
  grid-template:repeat(3, 1fr ) / repeat(3, 1fr);
  grid-template-areas: "box1 box2" "box3 box4" "box5 .";

  background-color: #ccc;
}

.box1 {
  background-color: indianred;
  text-align: center;
  grid-area: box1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box2 {
  background-color: green;
  text-align: center;
  grid-area: box2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box3 {
  background-color: gray;
  text-align: center;
  grid-area: box3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box4 {
  background-color: pink;
  text-align: center;
  grid-area: box4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box5 {
  background-color: red;
  text-align: center;
  grid-area: box5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
*/

/*
.header {
  background-color: green;
  padding: 20px;
  text-align: center;
}
.menu {
  background-color: grey;
  padding: 20px;
  text-align: center;
}
.content {
  background-color: hotpink;
  padding: 20px;
  text-align: center;
}
.footer {
  background-color: khaki;
  padding: 20px;
  text-align: center;
}


.main {
  display: grid;
  grid-template-columns: 1fr 3fr ;
  grid-template-rows: 1fr 4fr 1.5fr;
  grid-gap: 3px;
  grid-template-areas: "menu header" "menu content" "footer footer";
}
.header {
  grid-area: header;

}
.menu {
  grid-area: menu;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.content {
  grid-area: content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
*/

/*
.box1 {
  background-color: grey;
}
.box2 {
  background-color: rgb(175, 53, 53);
}
.box3 {
  background-color: rgb(30, 196, 174);
}
.box4 {
  background-color: rgb(18, 177, 45);
}
.box5 {
  background-color: rgb(166, 204, 27);
}
.box6 {
  background-color: rgb(214, 27, 158);
}
.box7 {
  background-color: rgb(64, 20, 226);
}
.box8 {
  background-color: rgb(207, 141, 17);
}
.box9 {
  background-color: rgb(21, 4, 48);
}
.box10 {
  background-color: rgb(226, 16, 114);
}
.box11 {
  background-color: rgb(223, 104, 25);
}
.box12 {
  background-color: rgb(90, 71, 114);
}
.container3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 4px;
}
*/

/*
.container4 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.container4 img {
  width: 100%;
  height: 100%;
}
.vartical {
  grid-column: 1/ span 2;
}
.prb1 {
  grid-column: span 2;
}
.prb6 {
  grid-column: span 2;
}
*/


 .container div {
  background-color: rgb(182, 182, 58);
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  display: grid;
  place-items: center;
}
/*
  .item {
  border: 1px solid rgb(184, 166, 10);
} 
*/

/*
.container {
 display: grid;
 border: 10px solid rgb(173, 158, 23);
 grid-gap: 20px;
 /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
 grid-template-columns: 1fr 10fr 1fr;
 grid-template-rows: 150px 150px 100px;
 grid-template-areas: 
 "sidebar-1 content sidebar-2"
 "sidebar-1 content sidebar-2"
 "footer footer footer"
}
.footer {
  grid-area: footer;
}
.item1 {
  grid-area: sidebar-1;
}
.item2 {
  grid-area: content;
}
.item3 {
  grid-area: sidebar-2;
}
@media (max-width: 780px) {
  .container {
    grid-template-areas: 
    "sidebar-1 content content"
    "sidebar-2 sidebar-2 sidebar-2"
    "footer     footer    footer"
  }
}
*/

/*.taco {
  grid-column:  1/-1 ;
  grid-row: 1/-1;
  background-color: #ffffff !important; 
}
*/
/* make the grid 10 column wide every other taking up twice the free space */
/*
.item1 {
  grid-column: 3/5;
}
.item2 {
  grid-column: 5/-1;
}
.item5 {
  grid-column: span 2;
  grid-row: span 2;
}
.item8 {
  grid-row: span 2;
}
.item15 {
  grid-column: 1/-1;
}
.item18 {
  grid-column: span 4/ 9;
}
.item20 {
  grid-row: 4/ span3;
}
*/

/*
.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [site-left] 1fr [content-start] 500px [content-end] 1fr [site-right];
  grid-template-rows: [content-top] repeat(10, auto) [content-bottom];
}
.item3 {
  background: slateblue !important;
  grid-column: content-start/ content-end;
  grid-row: content-top/ content-bottom ;
  /*grid-column: 2;
  grid-row: 1/ span 10; 
}
*/

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
}
.logo {
  grid-column: span 2;
  order: 1;
}
.nav {
  grid-column: span 8;
  order: 2;
}
.content {
  grid-column: 1/-1;
  order: 3;
}
/*
.item:nth-child(6n) {
  background: cornflowerblue !important;
  grid-column: span 6;
}
.item:nth-child(8n) {
  background: tomato !important;
  grid-column: span 2;
}
.item:nth-child(9n) {
  grid-row: span 2;
}
.item18 {
  background: greenyellow !important;
  grid-column-end: -1 !important ;
} 
*/ 
